html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
   	margin: 0px 2em 0px 5em;
}
ul {
	list-style-type: none;
}
a{
	text-decoration: none;
}
.top_bar{
	display:left;
	width: 1000px;
	height: 100px;
}
.li1 {
  float: right;
  height: auto;
  margin-top: -5px;
  padding-left: 7px;
  padding-right: 7px;
}
.login_bar {
	height: 20px;
	float: right;
}
.login_weather{
	float: left;

}
.search_box{
	margin-right: 30px;
	width: 480px;
	height: 50px;
}
.nav_bar{
	width: 960px;
	margin: 0px auto;
	display: inline-block;
}
.li2 {
  list-style-type: none;
  float: left;
  height: auto;
  width: auto;
}
.nav {
	display: block;
	position: absolute;
	width: 51px;
	height: 194px;
	z-index: 1;
	margin: 500px auto auto 1100px;
}
.topimage {
	width: 910px;
	margin: 0px 3em auto 3em;
	background-image: url(http://www.taipeitravel.net/d_upload_ttn/cms/image/A0/B0/C0/D0/E9/F173/ab0840a4-a13b-4762-bb1f-389166f40c06.jpg);
	height: 271px;
}
.tour_bar{
	width: 950px;
}
.tour_icon{
	display: inline-block;
}
.tour_route{
	float: right;
	display: inline-block;
}
aside{
	float: left;
	width: 232px;
	display: inline-block;
}
aside section{
	margin-bottom: 10px;
}
aside section li{
	margin-bottom: 10px;
	font-family: calibri;
}
article{
	width: 800px;
	display: inline-block;
}
article section{
	border-style:inset;
	clear: both;
	height: 250px;
	margin-bottom: 20px;
}
article section img{
	float: left;
	margin: 5px 5px 5px 5px;
}
article section a img{
	height: 240px;
	width: 265px;
}
article section p{
	height: auto;
	margin-left: 50px;
}
article section div{
	height: 200px;
	width: 500px;
	float: left;
}